In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("fake_festival_jdr_dataset.csv")
df.head()

,ID,Nom,Email,Tel,Type,Web_site,FB,FB_nb_aderent,Twitter,Twitter_nb_aderent,...,Tiktok_nb_aderent,nb_adherent,Date_contact,Adresse_postal,Departement,Region,Pays,Accepte_com,Statut,Commentaire
0,577e9231,Bar à jeux Remercier,laurentbernard@example.com,02 97 06 01 93,Bar à jeux,http://coste.net/,https://petitjean.fr/,1743.0,https://godard.fr/,210.0,...,NaN,NaN,NaN,"32, rue Maurice Maillot Toulouse",31,Occitanie,France,Oui,Intéressé,NaN
1,d58e5151,Bar à jeux Désigner,francoiselebrun@example.com,+33 (0)1 81 27 55 14,Bar à jeux,https://www.collet.com/,http://gilles.fr/,938.0,https://www.ollivier.fr/,2630.0,...,NaN,NaN,NaN,"852, rue Hubert Blois",41,Centre-Val de Loire,France,Non,Intéressé,NaN
2,0aa6de42,Asso jdr Humide,NaN,0434310028,Asso jdr,https://baudry.com/,http://guillaume.fr/,798.0,NaN,NaN,...,NaN,188.0,NaN,"736, boulevard de Reynaud Nantes",44,Pays de la Loire,France,Oui,Intéressé,NaN
3,25b871e8,MJC Politique,charrierclaudine@example.org,0481699735,MJC,http://www.coulon.fr/,http://blanchet.org/,3472.0,NaN,NaN,...,NaN,279.0,2024-02-22,"905, chemin Ledoux Bellac",87,Nouvelle-Aquitaine,France,Oui,Contacté,NaN
4,72eb6140,Asso jdr Permettre,ubrun@example.org,0535315739,Asso jdr,https://mercier.net/,http://lefort.org/,2381.0,http://lebreton.net/,1935.0,...,NaN,27.0,NaN,"84, avenue Garcia Rodez",12,Occitanie,France,Non,Prospect,Espèce table quel seul et oncle commander.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   object
 1   Nom                 5000 non-null   object
 2   Email               4785 non-null   object
 3   Tel                 4481 non-null   object
 4   Type                5000 non-null   object
 5   Web_site            4550 non-null   object
 6   FB                  4087 non-null   object
 7   FB_nb_aderent       4087 non-null   float64
 8   Twitter             3046 non-null   object
 9   Twitter_nb_aderent  3046 non-null   float64
 10  Insta               2750 non-null   object
 11  Insta_nb_aderent    2750 non-null   float64
 12  Youtube             792 non-null    object
 13  Youtube_nb_aderent  792 non-null    float64
 14  Tiktok              390 non-null    object
 15  Tiktok_nb_aderent   390 non-null    float64
 16  nb_adherent         2517 non-null   float64
 17  Date_contact        2455 non-null   object
 18  Adresse_postal      5000 non-null   object
 19  Departement         5000 non-null   object
 20  Region              5000 non-null   object
 21  Pays                5000 non-null   object
 22  Accepte_com         5000 non-null   object
 23  Statut              5000 non-null   object
 24  Commentaire         1433 non-null   object
dtypes: float64(6), object(19)
memory usage: 976.7+ KB